@import url(http://fonts.googleapis.com/css?family=Lora|Roboto+Mono);

body {
    font-family: 'Lora', serif;
    margin: 0;
    background-color: #f6f6f6;
}

div.document {
    max-width: 50em;
    margin: 0 auto;
}

div.document p,
ul,
dt,
dd {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.75);
}

div.document p,
div.footer p,
ul,
dt,
dd {
    line-height: 1.6em;
}

div.footer {
    font-size: 0.8em;
    text-align: center;
    color: #666;
    margin-top: 4em;
    border-top: 1px solid #ededed;
    padding: 0.5em;
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
}

a.headerlink {
    font-size: 16px;
    margin-left: 10px;
    position: relative; bottom: 4px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

ul {
    margin-left: -25px;
}

/* Monospace blocks */
pre,
span.pre {
    font-family: 'Roboto Mono', monospace;
}
span.pre {
    font-size: 0.9em;
}
pre {
    padding: 0.5em;
    margin: 0.2em;
}
.highlight {
    background: #fdfdfd !important;
    opacity: 0.75;
}
td.linenos {
    position: absolute;
    margin-left: -40px;
    color: #999;
}
.highlight,
.highlight .hll,
table.highlighttable {
    width: 100%;
}
.highlight .hll {
    display: block;
}
div.code-block-caption {
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 7px;
}

.navigation {
    width: 100%;
    text-align: center;
    margin-top: 4em;
}
.navigation ul {
    list-style: none;
}
.navigation li {
    display: inline-block;
    margin: 0 2em;
}

td.label {
    padding-right: 0.75em;
}

/* Table of contents in index.rst */
.toctree-wrapper ul {
    list-style: none;
}
